#grid_container {
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: repeat(40, 1fr);
   
    

}
.items {
    background-color: white;
    border: 0px solid black;
    height: 25px;
    width: 25px;
   

}
body {
    background-color: black;
}
.item166 {
   background-color: black;
}.item167 {
    background-color: black;
 }.item168 {
    background-color: black;
 }.item169 {
    background-color: black;
 }.item206 {
    background-color: black;
 }.item246 {
    background-color: black;
 }.item286 {
    background-color: black;
 }
 .item327 {
    background-color: black;
 }.item367 {
    background-color: black;
 }.item407 {
    background-color: black;
 }.item447 {
    background-color: black;
 }.item488 {
    background-color: black;
 }.item528 {
    background-color: black;
 }.item568 {
    background-color: black;
 }.item608 {
    background-color: black;
 }.item649 {
    background-color: black;
 }.item689 {
    background-color: black;
 }.item729 {
    background-color: black;
 }.item650 {
    background-color: black;
 }.item651 {
    background-color: black;
 }.item730 {
    background-color: black;
 }.item731 {
    background-color: black;
 }.item732 {
    background-color: black;
 }.item693 {
    background-color: black;
 }.item694 {
    background-color: black;
 }.item655 {
    background-color: black;
 }.item616 {
    background-color: black;
 }.item577 {
    background-color: black;
 }.item538 {
    background-color: black;
 }.item459 {
    background-color: black;
 }.item499 {
    background-color: black;
 }.item420 {
    background-color: black;
 }.item380 {
    background-color: black;
 }.item340 {
    background-color: black;
 }.item300 {
    background-color: black;
 }.item298 {
    background-color: black;
 }.item299 {
    background-color: black;
 }.item254 {
    background-color: black;
 }.item255 {
    background-color: black;
 }.item256 {
    background-color: black;
 }.item257 {
    background-color: black;
 }.item210 {
    background-color: black;
 }.item211 {
    background-color: black;
 }.item212 {
    background-color: black;
 }.item213 {
    background-color: black;
 }.item208 {
    background-color: black;
 }.item248 {
    background-color: black;
 }.item289 {
    background-color: black;
 }.item290 {
    background-color: black;
 }.item251 {
    background-color: black;
 }.item612 {
    background-color: black;
 }.item613 {
    background-color: black;
 }.item574 {
    background-color: black;
 }.item535 {
    background-color: black;
 }.item496 {
    background-color: black;
 }.item417 {
    background-color: black;
 }.item457 {
    background-color: black;
 }.item338 {
    background-color: black;
 }.item378 {
    background-color: black;
 }.item449 {
    background-color: black;
 }.item450 {
    background-color: black;
 }.item491 {
    background-color: black;
 }.item531 {
    background-color: black;
 }.item569 {
    background-color: black;
 }.item570 {
    background-color: black;
 }.item334 {
    background-color: black;
 }.item335 {
    background-color: black;
 }.item416 {
    background-color: black;
 }.item376 {
    background-color: black;
 }.item373 {
    background-color: black;
 }.item413 {
    background-color: black;
 }.item454 {
    background-color: black;
 }.item455 {
    background-color: black;
 }.item {
    background-color: black;
 }.item {
    background-color: black;
 }.item209 {
    background-color: #c1282c;
 }.item249 {
    background-color: #c1282c;
 }.item250 {
    background-color: #c1282c;
 }.item489 {
    background-color: #c1282c;
 }.item490 {
    background-color: #c1282c;
 }.item529 {
    background-color: #c1282c;
 }.item530 {
    background-color: #c1282c;
 }.item374 {
    background-color: #c1282c;
 }.item375 {
    background-color: #c1282c;
 }.item414 {
    background-color: #c1282c;
 }.item415 {
    background-color: #c1282c;
 }.item207 {
    background-color: #f6bf1f;
 }.item247 {
    background-color: #f6bf1f;
 }.item287 {
    background-color: #f6bf1f;
 }.item288 {
    background-color: #f6bf1f;
 }.item368 {
    background-color: #f6bf1f;
 }.item369 {
    background-color: #f6bf1f;
 }.item370 {
    background-color: #f6bf1f;
 }.item371 {
    background-color: #f6bf1f;
 }.item372 {
    background-color: #f6bf1f;
 }.item408 {
    background-color: #f6bf1f;
 }.item409 {
    background-color: #f6bf1f;
 }.item410 {
    background-color: #f6bf1f;
 }.item411 {
    background-color: #f6bf1f;
 }.item412 {
    background-color: #f6bf1f;
 }.item448 {
    background-color: #f6bf1f;
 }.item451 {
    background-color: #f6bf1f;
 }.item452 {
    background-color: #f6bf1f;
 }.item453 {
    background-color: #f6bf1f;
 }.item492 {
    background-color: #f6bf1f;
 }.item493 {
    background-color: #f6bf1f;
 }.item494 {
    background-color: #f6bf1f;
 }.item495 {
    background-color: #f6bf1f;
 }.item532 {
    background-color: #f6bf1f;
 }.item534 {
    background-color: #f6bf1f;
 }.item533 {
    background-color: #f6bf1f;
 }.item571 {
    background-color: #f6bf1f;
 }.item572 {
    background-color: #f6bf1f;
 }.item573 {
    background-color: #f6bf1f;
 }.item609 {
    background-color: #f6bf1f;
 }.item610 {
    background-color: #f6bf1f;
 }.item611 {
    background-color: #f6bf1f;
 }.item28 {
    background-color: #f6bf1f;
 }.item329 {
    background-color: #f6bf1f;
 }.item330 {
    background-color: #f6bf1f;
 }.item331 {
    background-color: #f6bf1f;
 }.item332 {
    background-color: #f6bf1f;
 }.item333 {
    background-color: #f6bf1f;
 }.item334 {
    background-color: #f6bf1f;
 }.item251 {
    background-color: #f6bf1f;
 }.item252 {
    background-color: #f6bf1f;
 }.item253 {
    background-color: #f6bf1f;
 }.item291 {
    background-color: #f6bf1f;
 }.item292 {
    background-color: #f6bf1f;
 }.item293 {
    background-color: #f6bf1f;
 }.item294 {
    background-color: #f6bf1f;
 }.item252 {
    background-color: #f6bf1f;
 }.item253 {
    background-color: #f6bf1f;
 }.item336 {
    background-color: #f6bf1f;
 }.item337 {
    background-color: #f6bf1f;
 }.item295 {
    background-color: #f6bf1f;
 }.item296 {
    background-color: #f6bf1f;
 }.item297 {
    background-color: #f6bf1f;
 }.item328 {
    background-color: #f6bf1f;
 }.item377 {
    background-color: #f6bf1f;
 }.item456 {
    background-color: #f6bf1f;
 }.item458 {
    background-color: #bc6428;
 }.item379 {
    background-color: #bc6428;
 }.item339 {
    background-color: #bc6428;
 }.item418 {
    background-color: #bc6428;
 }.item419 {
    background-color: #bc6428;
 }.item497 {
    background-color: #bc6428;
 }.item498 {
    background-color: #bc6428;
 }.item536 {
    background-color: #bc6428;
 }.item537 {
    background-color: #bc6428;
 }.item575 {
    background-color: #bc6428;
 }.item576 {
    background-color: #bc6428;
 }.item614 {
    background-color: #bc6428;
 }.item615 {
    background-color: #bc6428;
 }.item652 {
    background-color: #bc6428;
 }.item690 {
    background-color: #bc6428;
 }.item653 {
    background-color: #bc6428;
 }.item654 {
    background-color: #bc6428;
 }.item691 {
    background-color: #bc6428;
 }.item692 {
    background-color: #bc6428;
 }.item576 {
    background-color: #bc6428;
 }.item28 {
    background-color: white;
 }